@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

body, html {
  height: 100%;

  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.main{
  display: flex;
  border-radius:  10% 10%;
  box-shadow: 0 0 6px #222;
  backdrop-filter: blur(11px);
    /* size */
  padding: 10rem 10rem;
}

.main, h1{

  font-family: "Kanit", Arial;
  font-weight: bold 700;
  display: block;
  
  
}

input{
padding:16px 35px;
margin-bottom: 10px;
border-radius: 10px;
background-color: #494848 ;
}
    /* styles the placeholder nicely */
  ::placeholder{
    font-family: "reddit mono", Arial;
    color: #ffffffcf;
    ;
  }


form button {

  background-color: #7ea5ef;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #9cb9ef;
}

.social-icons{
  display: inline-block;;
}

.socials{
  border: none;
  background: none;
  padding: 0;
  max-width: 10%;
  border-radius: 1;
  
  
}

.bg-color{
  /* background-color: #ffffffe2; */
  border-radius: 11%;
  padding: 10% 10%;
}